<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/main.css">
</head>

<body>
    <div class="row">
        <div class="col-sm-12 col-md-5 bg-light vh-100 d-flex align-items-center justify-content-center">
            <div class="p-5 m-3" data-aos="fade-right" data-aos-delay="500">
                <img src="../assets/login.svg" alt="login image" class="img-fluid">
            </div>
        </div>
        <div class="col-sm-12 col-md-7 p-5 vh-100 d-flex align-items-center justify-content-center">
            <div class="p-5 py-3 m-5 shadow" data-aos="fade-in" style="width: 450px">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="display-light mb-3" data-aos="fade-up">Login</h1>
                    <i class="fa fa-lock text-muted fa-lg"></i>
                </div>
                <form>
                    <div class="mb-2" data-aos="fade-up" data-aos-delay="70">
                        <p class="mb-1">UserName</p>
                        <input type="text" placeholder="@sachin-duahn26" required class="form-input p-2 w-100">
                    </div>
                    <div class="mb-3" data-aos="fade-up" data-aos-delay="140">
                        <p class="mb-1">Password</p>
                        <input type="password" placeholder="password" required class="form-input p-2 w-100">
                    </div>
                    <button class="btn btn-primary btn-block border-0 rounded-0" data-aos="fade-up" data-aos-delay="200"
                        type="submit">Submit</button>
                </form>
                <div class="p-2 mt-3 d-flex align-items-center justify-content-between">
                    <i class="fa fa-hover text-muted pointer p-2 fa-facebook mx-3"></i>
                    <i class="fa fa-hover text-muted pointer p-2 fa-instagram mx-3"></i>
                    <i class="fa fa-hover text-muted pointer p-2 fa-google mx-3"></i>
                    <i class="fa fa-hover text-muted pointer p-2 fa-twitter mx-3"></i>
                    <i class="fa fa-hover text-muted pointer p-2 fa-github mx-3"></i>
                    <i class="fa fa-hover text-muted pointer p-2 fa-bitbucket mx-3"></i>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/ac83601fe6.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <script>
        AOS.init({
            offset: 200,
            delay: 70,
            duration: 700,
        });
    </script>
</body>

</html>