body {
    background-color: #e6e6e6;
    margin-top: 22px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Georgia;
}


.title {
    text-align: center;
    font-size: 32px;
    color: white;
    font-weight: bold;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    margin-left: 10px;
    height: 30%;
    display: flex;
    align-items: center;   
    overflow: hidden;
}

.links a {
    text-decoration: none;
    color: gray;
    margin-left: 10px;
    margin-right: 10px;

}

.links a:hover {
    color: rgba(42, 84, 116);
}

.caption {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: justify;
}


.div-top {
    height: 300px;
    display: flex;
    width: 100%;
    /*min-width: 1200px;*/
}

.div-btm {
    height: 430px;
    display: flex;
    width: 100%;
}

.div-top-inner {
    display: flex;
    width: 100%;
}

.div-btm-inner {
    display: flex;
    width: 100%;
}


.div-desc {
    width: 39%;
    background-color: transparent;
    border-radius: 7px;
    padding: 3px;
}


.div-user-graph {
    padding: 3px;
    background-color: transparent;
    width: 61%;
}


.div-network-graph {
    padding: 3px;
    background-color: transparent;
    width: 48%;
}

.div-mma-graph {
    padding: 3px;
    width: 26%;
}

.div-heatmap-graph {
    padding: 3px;
    width: 26%;
}

.div-title {
    width: 100%;
    height: 120px;
    background-color: rgba(79, 144, 166);
    border-radius: 7px;
}

.div-desc-inner {
    margin-top: 5px;
    width: 100%;
    height: 175px;
    background-color: #ffffff;
    border-radius: 7px;
    overflow-x: hidden;
    overflow-y: auto;
}

.div-graph-top {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

.div-graph-btm {
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}


.graph-heatmap {
    width: 95%;
    margin: auto;
    margin-top: 25px;
    height: 300px;
}


.graph-user {
    height: 250px;
    width: 95%;
    margin: auto;
}

.graph-mma {
    width: 95%;
    margin: auto;
    margin-top: 25px;
    height: 300px;
}

.graph-network {
    height: 350px;
    width: 95%;
}


.div-graph-title {
    padding: 10px;
    text-align: center;
}

.graph-title {
    font-weight: bold;
}


/*.footer-div {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: #929292;
}

a:hover {
    font-weight: bold;
}*/